body {
    background-image: url(../img/scya\ gubbe.jpg);
    animation-name: y;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes y {
    0% {}

    20% {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTePVEdscNKmJzQUj4d6u2A6WyPaaOe_HvNadDZUKJbgg&s=10);   
    }
    30%{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU7XTvX19FIn8LjYQ_hqFQH4Al7FZNdB8DzlzSFKyZCA&s=10);
    }
    50%{
        background-image: url(../img/ferdick.jpg);
    }
    100%{
        background-image: url(../img/frdick.jpg);
    }
}

h2 {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: ;
    row-gap: 5px;
    height: 200%;
    width: 200%;
}

p,a,figure {
    background-color: rgb(52, 251, 251);


}

#juj {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    background-color: aquamarine;
}

#galleri {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 50%;
    background-color: black;
}

.gall_img {
    height: 100%;
    width: 100%;
    animation-name: x;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes x {
    form {}

    to {
        rotate: 180deg;
    }

}